:root{

    /* COLORES PRINCIPALES */
    --color-fondo: #141414;
    --color-fondo-secundario: #1f1f1f;
    --color-navbar: #000000;

    /* COLORES DE TEXTO */
    --color-texto: #ffffff;
    --color-texto-secundario: #b3b3b3;

    /* COLOR PRINCIPAL */
    --color-rojo: #e50914;

    /* BOTONES */
    --color-boton-hover: #ff1f1f;

    /* BORDES */
    --color-borde: #333333;

    /* INPUT */
    --color-input: #2b2b2b;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #141414;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* =========================
   NAVBAR
========================= */

.navbar{
  background-color: rgba(0,0,0,0.9) !important;
}

.navbar-brand{
  letter-spacing: 2px;
}

.nav-link{
  transition: 0.3s;
}

.nav-link:hover{
  color: #e50914 !important;
}

/* =========================
   HERO
========================= */

.hero{
  background-image: url("../asset/photo-.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero-overlay{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content{
  max-width: 700px;
}

.hero h1{
  font-size: 4rem;
}

.hero p{
  font-size: 1.2rem;
}

/* =========================
   BOTONES
========================= */

.btn-danger{
  background-color: #e50914;
  border: none;
}

.btn-danger:hover{
  background-color: #b20710;
}

/* =========================
   CARDS PELÍCULAS
========================= */

.movie-card{
  overflow: hidden;
  transition: 0.3s;
  border-radius: 10px;
}

.movie-card:hover{
  transform: scale(1.05);
}

.movie-card img{
  height: 350px;
  object-fit: cover;
}

.card-title{
  font-weight: bold;
}

/* =========================
   BANNER PREMIUM
========================= */

.premium-banner{
  background: linear-gradient(
    to right,
    #000000,
    #e50914
  );
}

/* =========================
   CATEGORÍAS
========================= */

.category-card{
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.comedy{
  background-image: url("../asset/photo-3.jpg");
}

.sci-fi{
  background-image: url("../asset/photo-5.jpg");
}

.category-overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 15px;
}

.category-overlay h3{
  font-size: 2rem;
  font-weight: bold;
}

/* =========================
   FOOTER
========================= */

footer{
  margin-top: 50px;
}

footer a{
  transition: 0.3s;
}

footer a:hover{
  color: #e50914 !important;
}

/* =========================
   FORMULARIOS
========================= */

.form-control{
  border-radius: 8px;
}

.form-control:focus{
  box-shadow: none;
  border-color: #e50914;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width: 992px){

  .hero{
    height: 80vh;
  }

  .hero h1{
    font-size: 3rem;
  }

}

@media(max-width: 768px){

  .hero{
    text-align: center;
    height: 70vh;
  }

  .hero-content{
    margin: auto;
  }

  .hero h1{
    font-size: 2.5rem;
  }

  .hero p{
    font-size: 1rem;
  }

  .movie-card img{
    height: 300px;
  }

}

@media(max-width: 576px){

  .hero h1{
    font-size: 2rem;
  }

  .hero{
    height: 65vh;
  }

  .category-card{
    height: 220px;
  }

}